[submodule "deps/trielo"]
	path = deps/trielo
	url = https://github.com/spikeyamk/trielo
[submodule "deps/3rdparty/googletest"]
	path = deps/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "src/sens/spi_temp/MAX31865"]
	path = src/sens/spi_temp/MAX31865
	url = https://github.com/polymurph/MAX31865.git
